@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .text-bronze {
    color: #CD7F32;
  }
  
  .bg-bronze {
    background-color: #CD7F32;
  }
  
  .border-bronze {
    border-color: #CD7F32;
  }
  
  .hover\:bg-bronze:hover {
    background-color: #CD7F32;
  }
}